.container {
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  width: 100%;
  height: auto; // Убедитесь, что высота адаптируется к содержимому
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; // Добавьте расстояние между элементами
}

.mint-grai-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.grai-description {
  padding-top: 10.8px;
  padding-bottom: 10.8px;
}

.grai-amount-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-top: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.grai-amount-button {
  border: 0;
  flex-grow: 1;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.grai-amount-button:hover {
  background-color: #2b2b2b;
}

.grai-amount-button:not(:last-child) {
  border-right: 1px solid #fff;
}

.grai-amount-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  flex: 1;
  width: 100%;
  padding: 10px;
}

.not-checked {
  padding-top: 10.8px;
  padding-bottom: 10.8px;
}

.checked {
  padding: 0;
}

@media screen and (max-width: 700px) {
  .bridge-grai-form {
    width: 100%; // На мобильных устройствах форма занимает всю ширину
  }
}

@media screen and (max-width: 416px) {
  .buttons {
    flex-direction: column;
  }
}
